[Desktop Entry]
Name=nobleNote
Name[de_DE]=nobleNote
Exec=noblenote
Terminal=false
Type=Application
Icon=noblenote
Categories=Utility;
Keywords=Note;Notes;Notice;Sticker;Memo;
Comment=Note taking application
